
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Check</title>
 
</head>
<body>
    <p>Welcome! @ViewBag.userName</p>
    <div> 
    </div>
</body>
</html>
